# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
logs/
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local
.env.prod

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Coverage
.coverage
htmlcov/

/media

.pytest_cache
